<button matButton="elevated" (click)="onRefreshMail()">Odśwież maile</button>

<div class="mat-elevation-z2">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Imię</th>
      <td mat-cell *matCellDef="let row">{{row.fullName}}</td>
    </ng-container>

    <!-- Position Applied Column -->
    <ng-container matColumnDef="position_applied">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pozycja</th>
      <td mat-cell *matCellDef="let row">{{ row.position ? row.position : 'Ja też bym chciał wiedzieć' }}</td>
    </ng-container>

    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Punktacja</th>
      <td mat-cell *matCellDef="let row">{{row.score}}</td>
    </ng-container>

    <!-- View More Column -->
    <ng-container matColumnDef="view_more">
      <th mat-header-cell *matHeaderCellDef>Szczegóły</th>
      <td mat-cell *matCellDef="let row">
        <button matButton="elevated" [routerLink]="['/cv', row.id]">See more</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 50, 100]"
      aria-label="Select page">
  </mat-paginator>
</div>
