<div class="grid-container">
  <h1 class="mat-h1">Dzień dobry!</h1>
  <mat-grid-list cols="3" rowHeight="350px">
    @for (card of cards | async; track card; let i = $index) {
      <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content [class.special-content]="i === 1">
          <ng-container *ngTemplateOutlet="card.template"></ng-container>
        </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>
</div>

<ng-template #card1>
  <p>Najlepsze ministerstwo!</p>
  <p>Zero udokumentowanych przekroczeń uprawnień!</p>
  <p>Wcale nie musisz wstydzić się przed rodziną, że tu pracujesz!</p>
</ng-template>

<ng-template #card3>
</ng-template>

<ng-template #card4>
    <p>
Przyjmowanie zażaleń:<br/>
EA237<br/>
Budynek A Wydziału Elektroniki, Telekomunikacji i Informatyki<br/>
ul. Siedlicka 5a<br/>
80-233 Gdańsk<br/></p>
</ng-template>
