Status: unknown
<button matButton="elevated">Accept</button>
<button matButton="elevated">Reject</button>

<ul>
    <li>CV Details
        <ul>
            <li>Full Name: TEST</li>
            <li>Date of Birth: TEST</li>
            <li>Nationality: TEST</li>
            <li>Email: TEST</li>
            <li>Phone: TEST</li>
            <li>Address: TEST</li>
        </ul>
    </li>

    <li>Education
        <ul>
            <li>Edu
                <ul>
                    <li>Degree: TEST</li>
                    <li>Institution: TEST</li>
                    <li>Start Date: TEST</li>
                    <li>End Date: TEST</li>
                    <li>Field of Study: TEST</li>
                </ul>
            </li>
        </ul>
    </li>

    <li>Work Experience
        <ul>
            <li>Work
                <ul>
                    <li>Job Title: TEST</li>
                    <li>Company: TEST</li>
                    <li>Start Date: TEST</li>
                    <li>End Date: TEST</li>
                </ul>
            </li>
        </ul>
    </li>

    <li>Skills
        <ul>
            <li>TEST</li>
        </ul>
    </li>

    <li>Certifications
        <ul>
            <li> Certificate
                <ul>
                    <li>Name: TEST</li>
                    <li>Issuing Organization: TEST</li>
                </ul>
            </li>
            
        </ul>
    </li>

    <li>Languages
        <ul>
            <li>Language
                <ul>
                    <li>Language: TEST</li>
                    <li>Proficiency: TEST</li>
                </ul>
            </li>
        </ul>
    </li>

    <li>Military Experience
        <ul>
            <li>Rank: TEST</li>
            <li>Branch: TEST</li>
            <li>Start Date: TEST</li>
            <li>End Date: TEST</li>
            <li>Duties: TEST</li>
        </ul>
    </li>
</ul>