Status: nieznany
<button matButton="elevated">Akceptuj</button>
<button matButton="elevated">Odrzuć</button>

<ul>
    <li>Szczegóły CV
        <table>
            <tr>
                <td>Imię i nazwisko</td>
                <td>TEST</td>
            </tr>
            <tr>
                <td>Data urodzenia</td>
                <td>TEST</td>
            </tr>
            <tr>
                <td>Narodowość</td>
                <td>TEST</td>
            </tr>
            <tr>
                <td>Adres e-mail</td>
                <td>TEST</td>
            </tr>
            <tr>
                <td>Numer telefonu</td>
                <td>TEST</td>
            </tr>
            <tr>
                <td>Adres zamieszkania</td>
                <td>TEST</td>
            </tr>
        </table>
    </li>

    <li>Edukacja
        <table>
            <thead>
                <tr>
                    <th>Stopień</th>
                    <th>Instytucja</th>
                    <th>Data rozpoczęcia</th>
                    <th>Data ukończenia</th>
                    <th>Dziedzina</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TEST1</td>
                    <td>TEST1</td>
                    <td>TEST1</td>
                    <td>TEST1</td>
                    <td>TEST1</td>
                </tr>
                <tr>
                    <td>TEST2</td>
                    <td>TEST2</td>
                    <td>TEST2</td>
                    <td>TEST2</td>
                    <td>TEST2</td>
                </tr>
            </tbody>
        </table>
    </li>

    <li>Doświadczenie zawodowe
        <table>
            <thead>
                <tr>
                    <th>Stanowisko</th>
                    <th>Pracodawca</th>
                    <th>Data rozpoczęcia</th>
                    <th>Data zakończenia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TEST1</td>
                    <td>TEST1</td>
                    <td>TEST1</td>
                    <td>TEST1</td>
                </tr>
                <tr>
                    <td>TEST2</td>
                    <td>TEST2</td>
                    <td>TEST2</td>
                    <td>TEST2</td>
                </tr>
            </tbody>
        </table>
    </li>

    <li>Skills
        <ul>
            <li>TEST1</li>
            <li>TEST2</li>
            <li>TEST3</li>
            <li>TEST4</li>
        </ul>
    </li>

    <li>Certyfikaty
        <table>
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Organizacja wystawiająca</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TEST</td>
                    <td>TEST</td>
                </tr>
            </tbody>
        </table>
    </li>

    <li>Języki
        <table>
            <thead>
                <tr>
                    <th>Język</th>
                    <th>Poziom</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TEST</td>
                    <td>TEST</td>
                </tr>
            </tbody>
        </table>
    </li>

    <li>Doświadczenie wojskowe
        <table>
            <thead>
                <tr>
                    <th>Ranga</th>
                    <th>Gałąź</th>
                    <th>Data rozpoczęcia</th>
                    <th>Data zakończenia</th>
                    <th>Obowiązki</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TEST1</td>
                    <td>TEST1</td>
                    <td>TEST1</td>
                    <td>TEST1</td>
                    <td>TEST1</td>
                </tr>
                <tr>
                    <td>TEST2</td>
                    <td>TEST2</td>
                    <td>TEST2</td>
                    <td>TEST2</td>
                    <td>TEST2</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>