Status: unknown
<button matButton="elevated">Accept</button>
<button matButton="elevated">Reject</button>

<ul>
    <li>CV Details
        <table>
            <tr>
                <td>Full Name</td>
                <td>TEST</td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>TEST</td>
            </tr>
            <tr>
                <td>Nationality</td>
                <td>TEST</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>TEST</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>TEST</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>TEST</td>
            </tr>
        </table>
    </li>

    <li>Education
        <table>
            <thead>
                <tr>
                    <th>Degree</th>
                    <th>Institution</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Field of Study</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TEST1</td>
                    <td>TEST1</td>
                    <td>TEST1</td>
                    <td>TEST1</td>
                    <td>TEST1</td>
                </tr>
                <tr>
                    <td>TEST2</td>
                    <td>TEST2</td>
                    <td>TEST2</td>
                    <td>TEST2</td>
                    <td>TEST2</td>
                </tr>
            </tbody>
        </table>
    </li>

    <li>Work Experience
        <table>
            <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Company</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TEST1</td>
                    <td>TEST1</td>
                    <td>TEST1</td>
                    <td>TEST1</td>
                </tr>
                <tr>
                    <td>TEST2</td>
                    <td>TEST2</td>
                    <td>TEST2</td>
                    <td>TEST2</td>
                </tr>
            </tbody>
        </table>
    </li>

    <li>Skills
        <ul>
            <li>TEST1</li>
            <li>TEST2</li>
            <li>TEST3</li>
            <li>TEST4</li>
        </ul>
    </li>

    <li>Certifications
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Issuing Organization</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TEST</td>
                    <td>TEST</td>
                </tr>
            </tbody>
        </table>
    </li>

    <li>Languages
        <table>
            <thead>
                <tr>
                    <th>Language</th>
                    <th>Proficiency</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TEST</td>
                    <td>TEST</td>
                </tr>
            </tbody>
        </table>
    </li>

    <li>Military Experience
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Branch</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Duties</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TEST1</td>
                    <td>TEST1</td>
                    <td>TEST1</td>
                    <td>TEST1</td>
                    <td>TEST1</td>
                </tr>
                <tr>
                    <td>TEST2</td>
                    <td>TEST2</td>
                    <td>TEST2</td>
                    <td>TEST2</td>
                    <td>TEST2</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>